<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>
    <ion-title>Shorten Links</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea [(ngModel)]="post.url"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button (click)="crearEnlace()"
  [disabled]="post.url.length < 1"
  color="primary">
Compartir
</ion-button>

<ion-grid fixed>
  <ion-row>
    <ion-col size="12" size-lg="3" size="4" size-sm="6" size-xs="12"
             *ngFor="let item of linkStorage" >
             <h1>{{item}}</h1>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- Refrescar -->
<ion-refresher slot="fixed" (ionRefresh)="refresh()">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<!-- Enlaces -->
<app-enlaces [enlaces]="enlaces"></app-enlaces>

<!-- Infinite Scroll -->
<ion-infinite-scroll threshold="150px" (ionInfinite)="next($event)">
  <ion-infinite-scroll-content>
  </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
