<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="bonfire"></ion-icon>
    </ion-buttons>
    <ion-title>Shorten Links</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea [(ngModel)]="post.url"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button (click)="crearEnlace()"
  [disabled]="post.url.length < 1"
  color="primary">
Compartir
</ion-button>

<!-- Refrescar -->


<!-- Enlaces -->
<app-enlaces [enlaces]="enlaces"></app-enlaces>

<!-- Infinite Scroll -->
<ion-infinite-scroll threshold="150px" (ionInfinite)="next($event)">
  <ion-infinite-scroll-content>
  </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
